$fontStyle1: "Nunito";
$fontStyle1: "Oxanium";

$subtitle_fontWeight: 700;
$subtitle_fontSize: 26px;
$subtitle_lineHeight: 18px;
$subtitle_letterSpacing: 0.15px;
$subtitle_textTransform: "none";;

$subtitle2_fontWeight: 700;
$subtitle2_fontSize: 14px;
$subtitle2_lineHeight: 24px;
$subtitle_letterSpacing: 0.1px;
$subtitle_textTransform: "none";


$body1_fontWeight: 500;
$body1_fontSize: 16px;
$body1_lineHeight: 24px;
$body1_letterSpacing: 0.15px;
$body1_textTransform: "none";

$body2_fontWeight: 500;
$body2_fontSize: 14px;
$body2_lineHeight: 20px;
$body2_letterSpacing: 0.15px;
$body2_textTransform: "none";

$button_fontWeight: 700;
$button_fontSize: 14px;
$button_lineHeight: 16px;
$button_letterSpacing: 0.4px;
$button_textTransform: "uppercase";

$overline_fontWeight: 500;
$overline_fontSize: 12px;
$overline_lineHeight: 16px;
$overline_letterSpacing: 1px;
$overline_textTransform: "uppercase";

$tooltip_fontWeight: 500;
$tooltip_fontSize: 10px;
$tooltip_lineHeight: 14px;
$tooltip_letterSpacing: 0px;

$caption_fontWeight: 500;
$caption_fontSize: 12px;
$caption_lineHeight: 14px;
$caption_letterSpacing: 0.4px;
$caption_textTransform: "none";

