


/* $primary_main: #A9A9A9;
$primary_light: #424242;
$primary_dark: #F7F7F7;

$secondary_main: #A0B3C6;
$secondary_light: #788897;

$background_default: #000000;
$background_paper: #424242;

$error1_main: #F9D4D1;

$warning_main: #FBC89F;

$info_main: #89ADCF;

$text_primary: #252525;
$text_secondary: #F7F7F7;
$text_disabled: #A9A9A9;

$success_main: #6BB27B;

$extraText_tertiary: #CDD3E1;
$extraText_constant: #424242;
$extraText_quarternary: #798897;

$header_main: #616161;
$header_content: #DFDCDA; */